.containerAva {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.bgImg {
    padding: 10px;
}

.bgImg img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avaDiv {
    position: absolute;
    text-align: center;
    width: 30%;
    top: 23%;
    left: 35%;
}

.avaDiv img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nameDiv {
    font-size: larger;
    padding-bottom: 4px;
    text-transform: capitalize;
}

.aboutMeDiv {

}
