.containerJobDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    position: absolute;
    top: 1%;
    left: 2%;
}

.containerJobDescription div {
    padding: 1%;
}

.jobDiv {
    display: flex;
    justify-content: flex-start;
}
.imgDiv {
    width: 10%;
}
.jobImgText {
    font-size: small;
}
.jobDiv img {
    text-align: center;
    width: 100%;
}

.descriptionDiv {
    font-size: smaller;
    align-self: center;
}

.postDiv {

}