@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem {
    /*padding: 10px;*/
}
.messages {
    padding: 10px;
}
